// Colors
$ctBlue:     #214971;
$ctYellow:   #f6b72b;
$white:      #ffffff;

$WMBlue:     #5E90FF;
$WMGrey:     #4A4A4A;
$WMLtblue:   #F5F7F9;
$WMLtgrey:   #E4E4E4;
$WMDarkGrey: #2F353B;


$body-font: 'Proxima Nova', sans-serif;

$containerWidth: 1200px;

/* Mixins */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
